.edit-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
   
    padding-right: 70px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding-bottom: 50px;
   
  
    h3 {
      font-size: 2rem;
      font-weight: 500;
      color: #2c3d50;
      margin-bottom: 1rem;
    }
  
    
  }
  