.userlabel {
    margin-right: 112px; 
  }

  .itemlabel {
    margin-right: 66px; 
  }

  .qlabel {
    margin-right: 84px; 
  }
  .amountlabel {
    margin-right: 48.76px; 
  }
  .datelabel {
    margin-right: 68px; 
  }
  .loclabel {
    margin-right: 25px; 
  }